.container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    height: 570px;
    /* max-height: 600px; */
    position: relative;
    
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.form input{
    padding: 20px;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(253, 253, 253);
    width: 45%;
    margin-bottom: 30px;
    border: 2px solid #7f838d;
}

.form button{
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #7f838d;
    padding: 10px;
    border-radius: 20px;
    font-size: 22px;
}
.form button:hover{
    background-color: #6a6b6e;
    color: white;
}

